* {
	text-align: center;
}
body{
	background-color: #fda43c;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}

img{
	height: 200px;
}

.jumbotron {
	background-color: #83d255;
	padding-top: 6px;
}

